[user]
	email = mattst88@gmail.com
	name = Matt Turner
	signingkey = 0xACEB29740C9A4E97
[includeIf "gitdir:~/projects/gentoo/"]
	path = ~/projects/gentoo/.gitconfig
[color]
	ui = auto
[rebase]
	autosquash = true
[core]
	excludesfile = /home/mattst88/.global_ignore
	autocrlf = false
	filemode = false
	pager = less -+F
[diff]
	renames = true
[push]
	default = simple
[alias]
	fixes = show -s --pretty='format:Fixes: %h (\"%s\")'
	co = checkout
	br = branch
	shwo = show
	grpe = grep
	lgo = log
[init]
	defaultBranch = main
